# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
act10/

# Configuración de VSCode
.vscode/

# Pytest
.pytest_cache/
.cache

# Archivos temporales y logs
*.log
*~

# Archivos de sistema
.DS_Store
Thumbs.db